//*
// =====
// Standard CSS with everything separated
// =====
.main {
  border: 5px solid green;
  font-size:20px;
}

.main th {
  color: red;
}

th {
  color: blue;
}

/*/
// =====
// SCSS nesting to help readability and save keystrokes
// =====
// .main {
//   border: 5px solid green;
//   font-size:20px;
//   th {
//     color: red;
//   }
// }

// th {
//   color: blue;
// }
//*/
