//Toggle styles by deleting the first slash below
//*
// =====
// Standard CSS
// Change the color of h2 and th
// =====
h2 {
  color: #ff00ee;
}

th {
  background-color: #ff00ee;
}

a {
  color: #ff00ee;
}

/*/
// SCSS allows usage of variables so you can change it in one 
// place


$pink: #ff00ee;
$green: #11aa00;

$bright: $green;
$link: $pink;

h2 {
  color: $bright;
}

th {
  background-color: $bright;
}

a {
  color: $link;
}
//*/
